<!-- Header -->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <!-- Uncomment below if you prefer to use a text image -->
      <h1><a href="#hero">NCAN </a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="#team">Team</a></li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->

    <nav class="nav social-nav pull-right d-none d-lg-inline">
      <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
    </nav>
  </div>
</header>
<!-- #header -->
