
<!-- Team -->

<section class="team" id="team">
  <div class="container">
    <h2 class="text-center">
      Meet our team
    </h2>

    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="../../assets/img/hicham.jpg" style="width:100%;height: 200px">
            <div class="card-title-wrap">
              <span class="card-title">Zekri Sidi Mohammed Hicham</span> <span class="card-text">Team leader</span>
            </div>

            <div class="team-over">
              <h4 class="hidden-md-down">
                Connect with me
              </h4>

              <nav class="social-nav">
                <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
              </nav>

              <p>
                Student at the Higher School of Computer Science specialty Siw.
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="../../assets/img/ghiles.jpg"  style="width:100%;height: 200px">
            <div class="card-title-wrap">
              <span class="card-title">Meddour Ghiles</span> <span class="card-text">ML Developer </span>
            </div>

            <div class="team-over">
              <h4 class="hidden-md-down">
                Connect with me
              </h4>

              <nav class="social-nav">
                <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
              </nav>

              <p>
                Student at the Higher School of Computer Science specialty Siw.
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="../../assets/img/anwar.jpg"  style="width:100%;height: 200px">
            <div class="card-title-wrap">
              <span class="card-title">Selmi Anwar</span> <span class="card-text"> Web Developer</span>
            </div>

            <div class="team-over">
              <h4 class="hidden-md-down">
                Connect with me
              </h4>

              <nav class="social-nav">
                <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
              </nav>

              <p>
                Student at the Higher School of Computer Science specialty Siw.
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="../../assets/img/zineb.jpg"  style="width:100%;height: 200px">
            <div class="card-title-wrap">
              <span class="card-title">Cherki Zineb</span> <span class="card-text">quality manager</span>
            </div>

            <div class="team-over">
              <h4 class="hidden-md-down">
                Connect with me
              </h4>

              <nav class="social-nav">
                <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
              </nav>

              <p>
                Student at the Higher School of Computer Science specialty Siw.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Teamend -->
